<style>
  .p_image{
    width:100px;
  }
</style>

<h1>Product List</h1>
<% @products.each do |product| %>
<div class="row">
  <div class="col-md-2"><img class="p_image" src="<%= product.image %>"></div>
  <div class="col-md-10">
    <div class="col-lg-12"><%= product.name %></div>
    <div class="col-lg-12"><%= product.description %></div>
    <div class="col-lg-12"><%= product.price %></div>
  </div>
</div>

<% end %>