// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Construct Gutter Options

// 20px gutter
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"]{
  padding-right: 10px;
  padding-left: 10px;
}
// 10px gutter
.gutter-12.row {
  margin-right: -6px;
  margin-left: -6px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"]{
  padding-right: 6px;
  padding-left: 6px;
}
// 0px gutter
.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

// Boostrap

.alert{
  width:80%;
  margin:auto;
  margin-top:10px;
}

// CSS


ul{
  list-style: none;  
  }



